<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.talend.core.external_component">
      <ExternalComponent class="org.talend.designer.rowgenerator.RowGeneratorComponent"/>
   </extension>
   <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="8.0.0"
            class="org.talend.designer.rowgenerator.migration.FunctionParameterNameMigrationTask"
            description="Change localized customize parameter name to common name"
            id="org.talend.designer.rowgenerator.migration.FunctionParameterNameMigrationTask"
            name="FunctionParameterNameMigrationTask"
            version="8.0.1">
      </projecttask>
   </extension>

</plugin>
